
.notification-page{

padding:30px;

background:#F3E4C9;

min-height:100vh;

}

.notification-card{

background:white;

padding:20px;

margin:15px 0;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

transition:.3s;

}

.notification-card:hover{

transform:translateY(-4px);

}

.bell{

position:relative;

cursor:pointer;

}

.count{

position:absolute;

top:-8px;

right:-8px;

background:red;

color:white;

padding:3px 8px;

border-radius:50%;

font-size:12px;

}

