.payment-page {
    padding: 30px;
    background: #F3E4C9;
    min-height: 100vh;
    text-align: center;
}

.payment-page input {
    padding: 12px;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #D3D4C0;
}

.payment-page button {
    margin-left: 10px;
    padding: 12px 20px;
    background: #0A2947;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.payment-page button:hover {
    background: #8B5E3C;
}