.product-page{

padding:80px;

background:#D3D4C0;

min-height:100vh;

}

.product-title{

text-align:center;

font-size:50px;

margin-bottom:60px;

color:#0A2947;

}

.products{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:35px;

}