.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #9333ea, #ec4899);
}

.register-card {
  width: 360px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

.register-card h2 {
  margin-bottom: 5px;
}

.register-card p {
  color: gray;
  font-size: 14px;
}

.register-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.register-card button {
  width: 100%;
  padding: 10px;
  background: #9333ea;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.register-card button:hover {
  background: #7e22ce;
}

.login-link {
  margin-top: 10px;
  font-size: 12px;
  color: gray;
  cursor: pointer;
}